<div id="mainBody">
	<div class="container">
		<div class="row">
			<!-- Sidebar ================================================== -->
			<partial name="_SideBar" />
			<!-- Sidebar end=============================================== -->
			<div class="span9">
				@RenderBody()
			</div>
		</div>
	</div>
</div>