@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<img src="~/images/github.png" style="width:160px;height:100px"/>
@section Scripts  {

     <script src="~/js/newAlertJs.js" asp-append-version="true"></script>
}
